<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
@description 离（退）休人员_活动场所及老年大学建设情况统计表_映射器
@author 陈麟
@date 2019年06月26日 上午08:55:44
-->
<mapper namespace="com.fjhcit.retire.dao.RetireArenaDAO">

	<!-- 查找离（退）休人员_活动场所及老年大学建设情况统计表列表信息 -->
	<select id="listRetireArena" resultType="com.fjhcit.entity.RetireArenaDO" parameterType="java.util.Map">
		select id,unit_id,year,existing_sum,
			decode(substr(EXISTING_ACREAGE,1,1),'.','0'||EXISTING_ACREAGE,EXISTING_ACREAGE) existing_acreage,
			existing_everyday,abuilding_sum,abuilding_acreage,independent_sum,
			decode(substr(independent_acreage,1,1),'.','0'||independent_acreage,independent_acreage) independent_acreage,common_sum,
			decode(substr(common_acreage,1,1),'.','0'||common_acreage,common_acreage) common_acreage,eligible_sum,
			decode(substr(eligible_acreage,1,1),'.','0'||eligible_acreage,eligible_acreage) eligible_acreage,fixed_assets_original_value,
			fixed_assets_net_value,university_sum,
			decode(substr(university_acreage,1,1),'.','0'||university_acreage,university_acreage) university_acreage,university_regular_staff,university_students,
			university_graduate,abuilding_university_sum,
			decode(substr(abuilding_university_acreage,1,1),'.','0'||abuilding_university_acreage,abuilding_university_acreage) abuilding_university_acreage,
			attend_students,attend_graduate,
			decode(substr(independent_original_value,1,1),'.','0'||independent_original_value,independent_original_value) independent_original_value,
			decode(substr(independent_net_value,1,1),'.','0'||independent_net_value,independent_net_value) independent_net_value,
			decode(substr(common_original_value,1,1),'.','0'||common_original_value,common_original_value) common_original_value,
			decode(substr(common_net_value,1,1),'.','0'||common_net_value,common_net_value) common_net_value,
			decode(substr(eligible_original_value,1,1),'.','0'||eligible_original_value,eligible_original_value) eligible_original_value,
			decode(substr(eligible_net_value,1,1),'.','0'||eligible_net_value,eligible_net_value) eligible_net_value
		from retire_arena
		<where>
			<if test="unit_id != null and unit_id != ''">
				and unit_id = #{unit_id}
			</if>
			<if test="year != null and year != ''">
				and year = #{year}
			</if>
		</where>
		<choose>
			<when test="sortField == 'gmt_create'">
				order by gmt_create
			</when>
			<when test="sortField == 'gmt_modified'">
				order by gmt_modified
			</when>
			<otherwise>
				order by id
			</otherwise>
		</choose>
		<choose>
        	<when test="sortType == 'asc'">
            	asc
        	</when>
        	<when test="sortType == 'desc'">
            	desc
        	</when>
    	</choose>
	</select>

	<!-- 查找离（退）休人员_活动场所及老年大学建设情况统计表单条信息 -->
	<select id="getRetireArenaDOById" resultType="com.fjhcit.entity.RetireArenaDO" parameterType="java.lang.String">
		select id,unit_id,year,existing_sum,
			decode(substr(EXISTING_ACREAGE,1,1),'.','0'||EXISTING_ACREAGE,EXISTING_ACREAGE) existing_acreage,
			existing_everyday,abuilding_sum,abuilding_acreage,independent_sum,
			decode(substr(independent_acreage,1,1),'.','0'||independent_acreage,independent_acreage) independent_acreage,common_sum,
			decode(substr(common_acreage,1,1),'.','0'||common_acreage,common_acreage) common_acreage,eligible_sum,
			decode(substr(eligible_acreage,1,1),'.','0'||eligible_acreage,eligible_acreage) eligible_acreage,fixed_assets_original_value,
			fixed_assets_net_value,university_sum,
			decode(substr(university_acreage,1,1),'.','0'||university_acreage,university_acreage) university_acreage,university_regular_staff,university_students,
			university_graduate,abuilding_university_sum,
			decode(substr(abuilding_university_acreage,1,1),'.','0'||abuilding_university_acreage,abuilding_university_acreage) abuilding_university_acreage,
			attend_students,attend_graduate,
			decode(substr(independent_original_value,1,1),'.','0'||independent_original_value,independent_original_value) independent_original_value,
			decode(substr(independent_net_value,1,1),'.','0'||independent_net_value,independent_net_value) independent_net_value,
			decode(substr(common_original_value,1,1),'.','0'||common_original_value,common_original_value) common_original_value,
			decode(substr(common_net_value,1,1),'.','0'||common_net_value,common_net_value) common_net_value,
			decode(substr(eligible_original_value,1,1),'.','0'||eligible_original_value,eligible_original_value) eligible_original_value,
			decode(substr(eligible_net_value,1,1),'.','0'||eligible_net_value,eligible_net_value) eligible_net_value
		from retire_arena where id=#{id}
	</select>

	<!-- 添加离（退）休人员_活动场所及老年大学建设情况统计表信息 -->
	<insert id="insertRetireArena" parameterType="com.fjhcit.entity.RetireArenaDO" >
		<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
			select seq_retire_arena.nextval as id from dual
		</selectKey>
		insert into retire_arena
			(id,unit_id,year,existing_sum,existing_acreage,existing_everyday,abuilding_sum,abuilding_acreage,independent_sum,independent_acreage,
			common_sum,common_acreage,eligible_sum,eligible_acreage,fixed_assets_original_value,fixed_assets_net_value,university_sum,
			university_acreage,university_regular_staff,university_students,university_graduate,abuilding_university_sum,
			abuilding_university_acreage,attend_students,attend_graduate,create_user_id,gmt_create,modified_user_id,gmt_modified,
			independent_original_value,independent_net_value,common_original_value,common_net_value,eligible_original_value,eligible_net_value)
		values
			(#{id},#{unit_id},#{year},#{existing_sum},#{existing_acreage},#{existing_everyday},#{abuilding_sum},#{abuilding_acreage},#{independent_sum},
			#{independent_acreage},#{common_sum},#{common_acreage},#{eligible_sum},#{eligible_acreage},#{fixed_assets_original_value},
			#{fixed_assets_net_value},#{university_sum},#{university_acreage},#{university_regular_staff},#{university_students},
			#{university_graduate},#{abuilding_university_sum},#{abuilding_university_acreage},#{attend_students},#{attend_graduate},
			#{create_user_id},sysdate,#{modified_user_id},sysdate,#{independent_original_value},#{independent_net_value},#{common_original_value},
			#{common_net_value},#{eligible_original_value},#{eligible_net_value})
	</insert> 

	<!-- 更新离（退）休人员_活动场所及老年大学建设情况统计表信息 -->
	<update id="updateRetireArena" parameterType="com.fjhcit.entity.RetireArenaDO">
		update retire_arena
		<set>
			MODIFIED_USER_ID = #{modified_user_id},GMT_MODIFIED = sysdate,
			<if test="unit_id!=null">unit_id = #{unit_id},</if>
			<if test="year!=null">year = #{year},</if>
			<if test="existing_sum!=null">existing_sum = #{existing_sum},</if>
			<if test="existing_acreage!=null">existing_acreage = #{existing_acreage},</if>
			<if test="existing_everyday!=null">existing_everyday = #{existing_everyday},</if>
			<if test="abuilding_sum!=null">abuilding_sum = #{abuilding_sum},</if>
			<if test="abuilding_acreage!=null">abuilding_acreage = #{abuilding_acreage},</if>
			<if test="independent_sum!=null">independent_sum = #{independent_sum},</if>
			<if test="independent_acreage!=null">independent_acreage = #{independent_acreage},</if>
			<if test="common_sum!=null">common_sum = #{common_sum},</if>
			<if test="common_acreage!=null">common_acreage = #{common_acreage},</if>
			<if test="eligible_sum!=null">eligible_sum = #{eligible_sum},</if>
			<if test="eligible_acreage!=null">eligible_acreage = #{eligible_acreage},</if>
			<if test="fixed_assets_original_value!=null">fixed_assets_original_value = #{fixed_assets_original_value},</if>
			<if test="fixed_assets_net_value!=null">fixed_assets_net_value = #{fixed_assets_net_value},</if>
			<if test="university_sum!=null">university_sum = #{university_sum},</if>
			<if test="university_acreage!=null">university_acreage = #{university_acreage},</if>
			<if test="university_regular_staff!=null">university_regular_staff = #{university_regular_staff},</if>
			<if test="university_students!=null">university_students = #{university_students},</if>
			<if test="university_graduate!=null">university_graduate = #{university_graduate},</if>
			<if test="abuilding_university_sum!=null">abuilding_university_sum = #{abuilding_university_sum},</if>
			<if test="abuilding_university_acreage!=null">abuilding_university_acreage = #{abuilding_university_acreage},</if>
			<if test="attend_students!=null">attend_students = #{attend_students},</if>
			<if test="attend_graduate!=null">attend_graduate = #{attend_graduate},</if>
			<if test="independent_original_value!=null">independent_original_value = #{independent_original_value},</if>
			<if test="independent_net_value!=null">independent_net_value = #{independent_net_value},</if>
			<if test="common_original_value!=null">common_original_value = #{common_original_value},</if>
			<if test="common_net_value!=null">common_net_value = #{common_net_value},</if>
			<if test="eligible_original_value!=null">eligible_original_value = #{eligible_original_value},</if>
			<if test="eligible_net_value!=null">eligible_net_value = #{eligible_net_value},</if>
		</set>
		where id = #{id}
	</update>

	<!-- 删除离（退）休人员_活动场所及老年大学建设情况统计表信息 -->
	<delete id="removeRetireArenaByIdsArr" parameterType="java.util.Map">
		delete from retire_arena where id in 
		<foreach collection="idsArr" index="index" item="item"  open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- 查询国网统计报表_活动场所及老年大学录入 -->
    <select id="listRetireArenaAndUniversity" parameterType="java.util.Map" resultType="java.util.Map">
        select D.ID AS UNIT_ID,D.DEPARTMENT_NAME,A.ID,YEAR,to_char(EXISTING_SUM) EXISTING_SUM,
       		to_char(decode(substr(EXISTING_ACREAGE,1,1),'.','0'||EXISTING_ACREAGE,EXISTING_ACREAGE)) EXISTING_ACREAGE,
       		to_char(EXISTING_EVERYDAY) EXISTING_EVERYDAY,to_char(ABUILDING_SUM) ABUILDING_SUM,
       		to_char(decode(substr(ABUILDING_ACREAGE,1,1),'.','0'||ABUILDING_ACREAGE,ABUILDING_ACREAGE)) ABUILDING_ACREAGE,
       		to_char(INDEPENDENT_SUM) INDEPENDENT_SUM,to_char(COMMON_SUM) COMMON_SUM,
       		to_char(decode(substr(INDEPENDENT_ACREAGE,1,1),'.','0'||INDEPENDENT_ACREAGE,INDEPENDENT_ACREAGE)) INDEPENDENT_ACREAGE,
       		to_char(decode(substr(COMMON_ACREAGE,1,1),'.','0'||COMMON_ACREAGE,COMMON_ACREAGE)) COMMON_ACREAGE,
       		to_char(decode(substr(ELIGIBLE_ACREAGE,1,1),'.','0'||ELIGIBLE_ACREAGE,ELIGIBLE_ACREAGE)) ELIGIBLE_ACREAGE,
       		to_char(ELIGIBLE_SUM) ELIGIBLE_SUM,to_char(FIXED_ASSETS_ORIGINAL_VALUE) FIXED_ASSETS_ORIGINAL_VALUE,
       		to_char(FIXED_ASSETS_NET_VALUE) FIXED_ASSETS_NET_VALUE,to_char(UNIVERSITY_SUM) UNIVERSITY_SUM,
			to_char(decode(substr(UNIVERSITY_ACREAGE,1,1),'.','0'||UNIVERSITY_ACREAGE,UNIVERSITY_ACREAGE)) UNIVERSITY_ACREAGE,
			to_char(UNIVERSITY_STUDENTS) UNIVERSITY_STUDENTS,to_char(UNIVERSITY_GRADUATE) UNIVERSITY_GRADUATE,
			to_char(UNIVERSITY_REGULAR_STAFF) UNIVERSITY_REGULAR_STAFF,to_char(ABUILDING_UNIVERSITY_SUM) ABUILDING_UNIVERSITY_SUM,
			to_char(decode(substr(ABUILDING_UNIVERSITY_ACREAGE,1,1),'.','0'||ABUILDING_UNIVERSITY_ACREAGE,ABUILDING_UNIVERSITY_ACREAGE)) ABUILDING_UNIVERSITY_ACREAGE,
			to_char(ATTEND_STUDENTS) ATTEND_STUDENTS,to_char(ATTEND_GRADUATE) ATTEND_GRADUATE,
			to_char(decode(substr(independent_original_value,1,1),'.','0'||independent_original_value,independent_original_value)) independent_original_value,
			to_char(decode(substr(independent_net_value,1,1),'.','0'||independent_net_value,independent_net_value)) independent_net_value,
			to_char(decode(substr(common_original_value,1,1),'.','0'||common_original_value,common_original_value)) common_original_value,
			to_char(decode(substr(common_net_value,1,1),'.','0'||common_net_value,common_net_value)) common_net_value,
			to_char(decode(substr(eligible_original_value,1,1),'.','0'||eligible_original_value,eligible_original_value)) eligible_original_value,
			to_char(decode(substr(eligible_net_value,1,1),'.','0'||eligible_net_value,eligible_net_value)) eligible_net_value			
        from base_department d, retire_arena a
		where d.id = a.unit_id(+) and a.year(+) = #{year} and d.IS_AVAILABLE = 1
        <if test="id != null and id != ''">
            and d.id = #{id}
        </if>
        <if test="parent_id != null and parent_id != ''">
            and d.parent_id = #{parent_id}
        </if>
        order by sortnum
    </select>
    
	<!-- 查询国网统计报表_退休人员活动场所使用情况表 -->
    <select id="listRetireArenaServiceCondition" parameterType="java.util.Map" resultType="java.util.Map">
		select d.ID,d.DEPARTMENT_NAME,'退休人员独立使用' as SERVICE_CONDITION,
	       to_char(INDEPENDENT_SUM) INDEPENDENT_SUM,
	       to_char(decode(substr(INDEPENDENT_ACREAGE,1,1),'.','0'||INDEPENDENT_ACREAGE,INDEPENDENT_ACREAGE)) INDEPENDENT_ACREAGE,
	       to_char(decode(substr(INDEPENDENT_ORIGINAL_VALUE,1,1),'.','0'||INDEPENDENT_ORIGINAL_VALUE,INDEPENDENT_ORIGINAL_VALUE)) INDEPENDENT_ORIGINAL_VALUE,
	       to_char(decode(substr(INDEPENDENT_NET_VALUE,1,1),'.','0'||INDEPENDENT_NET_VALUE,INDEPENDENT_NET_VALUE)) INDEPENDENT_NET_VALUE,
	       d.sortnum,1 as arena_sortnum
		from base_department d, retire_arena a
		where d.id = a.unit_id(+) and year(+) = #{year} and d.IS_AVAILABLE = 1
        <if test="id != null and id != ''">
            and d.id = #{id}
        </if>
        <if test="parent_id != null and parent_id != ''">
            and d.parent_id = #{parent_id}
        </if>
		union all
		select d.ID,d.DEPARTMENT_NAME,'与在职人员共同使用' as SERVICE_CONDITION,
			to_char(COMMON_SUM) COMMON_SUM,
			to_char(decode(substr(COMMON_ACREAGE,1,1),'.','0'||COMMON_ACREAGE,COMMON_ACREAGE)) COMMON_ACREAGE,
			to_char(decode(substr(COMMON_ORIGINAL_VALUE,1,1),'.','0'||COMMON_ORIGINAL_VALUE,COMMON_ORIGINAL_VALUE)) COMMON_ORIGINAL_VALUE,
	       	to_char(decode(substr(COMMON_NET_VALUE,1,1),'.','0'||COMMON_NET_VALUE,COMMON_NET_VALUE)) COMMON_NET_VALUE,
	       	d.sortnum,2 as arena_sortnum
	  	from base_department d, retire_arena a
	 	where d.id = a.unit_id(+) and year(+) = #{year} and d.IS_AVAILABLE = 1
        <if test="id != null and id != ''">
            and d.id = #{id}
        </if>
        <if test="parent_id != null and parent_id != ''">
            and d.parent_id = #{parent_id}
        </if>
		union all
		select d.ID,d.DEPARTMENT_NAME,'具备移交条件的活动场所' as SERVICE_CONDITION,
			to_char(ELIGIBLE_SUM) ELIGIBLE_SUM,
			to_char(decode(substr(ELIGIBLE_ACREAGE,1,1),'.','0'||ELIGIBLE_ACREAGE,ELIGIBLE_ACREAGE)) ELIGIBLE_ACREAGE,
			to_char(decode(substr(ELIGIBLE_ORIGINAL_VALUE,1,1),'.','0'||ELIGIBLE_ORIGINAL_VALUE,ELIGIBLE_ORIGINAL_VALUE)) ELIGIBLE_ORIGINAL_VALUE,
	       	to_char(decode(substr(ELIGIBLE_NET_VALUE,1,1),'.','0'||ELIGIBLE_NET_VALUE,ELIGIBLE_NET_VALUE)) ELIGIBLE_NET_VALUE,
			d.sortnum,3 as arena_sortnum
	  	from base_department d, retire_arena a
	 	where d.id = a.unit_id(+) and year(+) = #{year} and d.IS_AVAILABLE = 1
        <if test="id != null and id != ''">
            and d.id = #{id}
        </if>
        <if test="parent_id != null and parent_id != ''">
            and d.parent_id = #{parent_id}
        </if>
		order by sortnum, arena_sortnum
	</select>
	
	<!-- 根据单位+年度判断数据是否存在 -->
	<select id="listRetireArenaIdByUnitidAndYear" resultType="java.lang.String" parameterType="java.util.Map">
		select id from retire_arena where unit_id = #{unit_id} and year = #{year}
		order by gmt_create
	</select>
</mapper>